Click >= 7.0
Flask == 1.0.3
Flask-SocketIO ==3.3.2
Jinja2 >= 2.10
MarkupSafe >= 1.1.1
Werkzeug >= 0.15.0
python-socketio <4,>=2.1.0
APScheduler >= 3.6.0
python-engineio == 3.5.2
kombu == 4.5.0
pyarrow >= 0.13.0
pyspark >= 2.4.0